{% load i18n comments static inkscape moderator extras %}

  <div>
    <ol class="panel-body comment-list">

      {# Start forum thread comment loop #}
      {% for comment in comment_list %}
        {% url 'view_profile' comment.user.username as profile_url %}
        
        {% if comment.is_public %}

        <li class="comment left clearfix" data-author="{{ comment.user.username }}" data-cite="{{ request.path }}#c{{ comment.pk }}" name="c{{ comment.id }}" id="c{{ comment.id }}">
          {# Start comment header info #}
          <a class="pull-left comment-count" title="{% trans "Link" %}" href="{{ request.path }}#c{{ comment.pk }}">#{{ forloop.counter }}</a>

            <span class="comment-header-group">
              <address class="comment-author-address" data-user="{{ comment.user.username }}" data-userid="{{ comment.user.id }}">
                  <a class="comment-author" href="{{ profile_url }}"><img src="{{ comment.user.photo_url }}" alt="{{ comment.user }}" class="img-circle" /> {{ comment.user }} {% for flag in comment.user.forum_flags.all %}{% if not flag.modflag or request.user.is_moderator %}<span class="emoji{% if flag.modflag %} modflag{% endif %}" title="{{ flag.title }}">{{ flag.flag }}</span>{% endif %}{% endfor %}</a></address> 
              <small class="pull-left text-muted comment-time"><span class="glyphicon glyphicon-time"></span> {{ comment.submit_date|timetag }}</small>
            </span>
      
            <div class="buttons-group">
              {% if comment.user_id == request.user.pk %}
              <a class="text-muted comment-edit" href="{% url "forums:comment_edit" comment.pk %}?next={{ request.path }}%23c{{ comment.pk }}" title="{% trans "Edit" %}"><span class="glyphicon glyphicon-edit"></span></a>
              {% elif request.user.is_moderator %}
                <a class="text-muted comment-remove" href="{% url "forums:comment_remove" comment.pk %}?next={{ request.path }}%3Frem={{ comment.pk }}" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="text-muted comment-remove" href="{% url "forums:comment_public" comment.pk %}?next={{ request.path }}%3Fmod={{ comment.pk }}%23c{{ comment.pk }}" title="Send to moderation"><span class="iw-fire"></span></a>
                <a class="text-muted comment-edit" href="{% url "forums:comment_edit" comment.pk %}?next={{ request.path }}%23c{{ comment.pk }}" title="{% trans "Edit" %}"><span class="glyphicon glyphicon-flash"></span></a>
              {% elif request.user.is_authenticated %}
                <a class="btn btn-sm comment-report" title="{% trans "Report Comment" %}" href="{% flag_url comment %}"><span class="glyphicon glyphicon-flag"></span></a>
              {% endif %}
            </div>

            {% if request.user.is_authenticated %}
              <div class="dropdown emoji-selector">
                <a class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'forums:emote' comment.id %}" title="{% trans "Emote" %}" id="emote-{{ comment.pk }}">
                    <span class="iw-add-emoji"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="emote-{{ comment.pk }}"></div>
              </div>
            {% endif %}
      
            <small class="btn-group emoji-bar" id="bar-emote-{{ comment.pk }}">
                {% for flag in comment.flags.all %}{% if flag.flag|length < 4 %}<span class="emoji" id="emote-{{ flag.pk }}" title="{{ flag.flag_date|ago }}" data-owner="{{ flag.user_id }}">{{ flag.flag }}</span>{% endif %}{% endfor %}
            </small>
      
            {% include "forums/resource_dropdown.html" %}
            {# End comment header info #}
      
            {# Start comment text #}
            <section class="comment-text">
              {{ comment.comment|safe }}
            </section>
            {# End comment text #}
      
            {# Start comment attachments #}
            <section class="comment-attachments inline-attachments">
              {% include "forums/resources_inline.html" with attachment_list=comment.attachments.all %}
            </section>
            {# End comment attachments #}
            
          {% else %}
          {# Comment is not publicly visible and needs approving #}
          
          <li class="comment left clearfix not-public{% if not request.user.is_moderator %} not-visible{% endif %}" data-author="{{ comment.user.username }}", data-cite="{{ request.path }}#c{{ comment.pk }}" id="c{{ comment.id }}">
            {# Start comment header info #}
            <a class="pull-left comment-count" title="{% trans "Link" %}" href="{{ request.path }}#c{{ comment.pk }}">#{{ forloop.counter }}</a>
            <span class="comment-header-group">
              <address class="comment-author-address" data-user="{{ comment.user.username }}" data-userid="{{ comment.user.id }}">
                  <a class="comment-author" href="{{ profile_url }}"><img src="{{ comment.user.photo_url }}" alt="{{ comment.user }}" class="img-circle" /> {{ comment.user }}</a></address> 
              <small class="pull-left text-muted comment-time"><span class="glyphicon glyphicon-time"></span> {{ comment.submit_date|timetag }}</small>
            </span>
            {% if request.user.is_moderator or comment.user == request.user %}
              <div class="buttons-group">
                {% if request.user.is_moderator %}
                  <a class="text-muted comment-remove" href="{% url "forums:comment_remove" comment.pk %}?next={{ request.path }}%3Frem={{ comment.pk }}" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="text-muted comment-edit" href="{% url "forums:comment_public" comment.pk %}?next={{ request.path }}%3Fapprove={{ comment.pk }}%23c{{ comment.pk }}" title="{% trans "Approve (make public)" %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
              </div>
              <section class="comment-text">
                {{ comment.comment|safe }}
                {% if not request.user.is_moderator %}
                  <div class="alert alert-warning" role="alert">
                    <strong>{% trans "Not Public!" %}</strong> {% trans "Your comment is held for moderator approval" %}
                  </div>
                {% endif %}
              </section>
              {% with 1 as any %}
                {% include "forums/resource_dropdown.html" %}
              {% endwith %}
            {% endif %}
          
        </li>
        {% endif %}
      {% endfor %}
      {# End forum thread comment loop #}

    </ol>
  </div>
