{% load i18n static inkscape search_tools %}
<table class="table table-forum table-hover haveseen" data-changed="{{ forum.last_posted.isoformat }}" data-count="{{ forum.post_count }}" {% if read_all %}data-mark-all="true"{% else %}data-pk="forum-{{ forum.pk }}"{% endif %} data-model="forum">
    <thead>
      <tr>
        <th scope="col" title="{% trans "Topic Status" %}"></th>
        <th scope="col">{% trans "Topic Title" %}</th>
        <th scope="col" title="{% trans "Has Attachments" %}"></th>
        <th scope="col" title="{% trans "Comment Count" %}"></th>
        <th scope="col" colspan="2" class="text-center">{% trans "Created by" %}</th>
        <th scope="col" colspan="2" class="text-center">{% trans "Latest post" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for topic in topic_list %}
    <tr class="{% cycle 'odd' 'even' %} new{% if forum and forum.pk != topic.forum_id %} moved{% elif topic.locked and topic.sticky %} announce{% elif topic.locked %} locked{% elif topic.sticky %} sticky{% endif %}" data-changed="{{ topic.last_posted.isoformat }}" data-count="{{ topic.post_count }}" data-pk="topic-{{ topic.pk }}" data-model="topic">
        {% if show_forum %}
        <td class="forum-small-cells avatar"><img src="{{ topic.forum.icon.url }}" title="{{ topic.forum }}"/></td>
        {% else %}
        <td class="icon forum-small-cells">
          {% if forum and forum.pk != topic.forum_id %}
            <a title="{% trans "Moved!" %}"><span class="glyphicon glyphicon-export"></span></a>
          {% else %}
          <a {% if request.user.is_authenticated %}
               {% if not topic.is_subscribed %}
                 href="{% url "alert.subscribe" "forums.forum_topic_alert" topic.pk %}?next={{ request.path }}&post=1" title="{% trans "Subscribe" %}"
               {% else %}
                 href="{% url "alert.unsubscribe" "forums.forum_topic_alert" topic.pk %}?next={{ request.path }}&post=1" title="{% trans "Unsubscribe" %}"
               {% endif %}
            {% endif %}>
              {% if topic.locked %}
                {% if topic.sticky %}
                <span class="glyphicon glyphicon-bullhorn"></span>
                {% elif topic.is_moderated %}
                  <span class="glyphicon glyphicon-eye-close"></span>
                {% else %}
                <span class="glyphicon glyphicon-lock"></span>
                {% endif %}
              {% else %}
                <span class="glyphicon glyphicon-{% if topic.sticky %}bookmark{% elif topic.is_subscribed %}heart text-danger{% elif request.user.is_authenticated %}heart-empty{% else %}star-empty{% endif %}"></span>
              {% endif %}
          </a>
          {% endif %}
          {% endif %}
        </td>
        <td class="topic-item">
          <a href="{{ topic.get_absolute_url }}" class="add-jump-link">
            {% if query %}
              {% highlight_all topic.subject %}
            {% else %}
              {% if topic.removed %}
                <del>{{ topic.subject }}</del>
              {% else %}
                {{ topic.subject }}
              {% endif %}
            {% endif %}
          </a> 
        </td>
        <td class="forum-small-cells">
          {% if topic.has_attachments %}<span class="glyphicon glyphicon-paperclip"></span>{% endif %}
        </td>
        <td class="text-center"><span class="label label-default counter">{{ topic.post_count }}</span></td>
        <td class="text-right" {% if topic.first_username %}data-user="{{ topic.first_username }}"{% endif %}>{{ topic.first_username|default:'-' }}</td>
        <td class="text-left text-muted" title="{{ topic.first_posted|timenotag }}"><span class="glyphicon glyphicon-{% if topic.first_posted|is_recent %}time{% else %}calendar{% endif %}"></span></td>
        {% if topic.post_count == 1 %}
          <td></td>
          <td></td>
        {% else %}
          <td class="text-right" {% if topic.last_username %}data-user="{{ topic.last_username }}"{% endif %}>{{ topic.last_username|default:'-' }}</td>
          <td class="text-left text-muted" title="{{ topic.last_posted|timenotag }}"><span class="glyphicon glyphicon-{% if topic.last_posted|is_recent %}time{% else %}calendar{% endif %}"></span></td>
        {% endif %}
      </tr>
    {% empty %}
      <tr>
        <td class="icon forum-small-cells"><span class="glyphicon glyphicon-info-sign"></span></td>
        <td class="topic-item">{% trans "No topics" %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
